<h1>
	Random	Play:
</h1>

<p>
	The	answer	<strong>	<%=	answer	%>	</strong>	is	<%=	result	? 'right' :	'wrong'	%>.
</p>

<div>
	<%	if	(!result)	{	%>
		You have failed: Your Score has been <span	id="score"><%=scoreMultiple %></span>
	<%	}	else	{	%>
		You	have succeeded. Your score is <span	id="score"><%=	scoreMultiple	%></span>
	<% } %>
</div>

<p>
	<%	if	(!result)	{	%>
	<a	href="/quizzes">	End	of	Play	</a>
	<%	}	else	{	%>
	<a	href="/quizzes/randomplaymultiple"><button>Continue	playing</button></a>
	<% } %>
</p>