<h1>
	End	of	Random	Play:
</h1>


<p>
	You	answered all questions.	You	are a champion.
	Your score is <%=scoreMultiple%>
</p>

<% if (session.user) { %>
	<form method="post" action="/quizzes/randomupdatescore/<%= session.user.id %>?_method=PUT">
	    <button type="submit" name = "scoreMultiple" value = "<%= scoreMultiple%>">Continue <%=scoreMultiple%></button>
	</form>
<% } else { %>
	<p>
	<a	href="/quizzes"><button>Go	Back</button></a>
	</p>
<% } %>
